// Buttons
$button_hover: rgb(23, 108, 244);
$button_border: rgba(55, 70, 187, 0.432);

//Backgrounds
$root_background: rgb(212, 212, 212);
$root_background_transition: rgb(233, 252, 251);
$theme_base: rgb(53, 123, 236);
$theme_base_transition: rgb(43, 64, 148);

// Inputs
$input_border: rgb(80, 80, 80);
$input_disabled: rgb(207, 207, 207);