// Buttons
$btn_base: #3f7ada;
$button_hover: #176cf4;
$submit_green: rgb(4, 146, 4);
$submit_hover: rgb(4, 167, 4);

//Backgrounds
$theme_base: rgb(17, 24, 39);
$theme_base_transition: rgb(43, 64, 148);

// Inputs
$input_border: rgb(255, 255, 255);
$input_disabled: rgb(41, 61, 105);

// Fonts
$text_headers: #ffb703;