main {
    background-color: white;
    margin: 50px 0;
    border-radius: 10px;
}

h3 {
    font-size: 1.5rem;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}
  
select {
    all: none;
}

textarea {
    resize: vertical;
}
  
// .edit {
//     border: 2px solid aliceblue;
// }

// .noEdit {
//     background-color: none;
// }

.currentJobWrapper {
    display: flex;
    gap: 5px;
}

.general,
.education,
.practical {
    display: flex;
    flex-direction: column;
    padding: 10px;
}