@use "colours" as colours;

main {
    background-color: rgba(255, 255, 255, 0.925);
    margin: 50px 0;
    border-radius: 10px;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

textarea {
    resize: vertical;
}

.currentJobWrapper {
    display: flex;
    gap: 5px;
}

.general,
.education,
.practical {
    padding: 10px;
    & > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.general > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    & > * {
        justify-self: flex-end;
    }
    & > * > * {
        margin: 5px;
    }
}

.qualification-wrapper,
.practical-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    & > * {
        flex: 1 auto;
    }
}