@use "colours" as colours;

/*
TODO
    Styling for practical once submitted - input elements stacked together
    

*/

main {
    background-color: rgba(255, 255, 255, 0.925);
    margin: 50px 0;
    border-radius: 10px;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

textarea {
    resize: vertical;
}

.currentJobWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.general,
.education,
.practical,
.submit-wrapper {
    padding: 10px;
    & > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.general > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    & > * {
        justify-self: flex-end;
    }
    & > * > * {
        margin: 5px;
    }
}

.qualification-wrapper,
.practical-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    & > * {
        flex: 1 auto;
    }
}

.experience-header {
    display: flex;
    gap: 20px;
}

#editing {
    background-color: colours.$input_disabled;
    
}

#editing-currentJob {
    color: colours.$input_border;
    font-size: .9rem;
}

.submit-wrapper {
    display: flex;
}

.submit-btn {
    flex: 1 auto;     
    background-color: colours.$submit_green;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: colours.$submit_hover;
}

@media only screen and (max-width: 800px) {
    .general > div > div,
    .education > div > div,
    .practical > div > div {
        display: flex;
        flex-direction: column;
    }
}