@use "colours" as colours;
@use "fonts";

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    & > img {
        height: 75px;
        width: 75px;
    }
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.1;
    text-shadow: 5px 5px 10px black;
    font-family: "overlock", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
    animation: rotate 6s linear infinite;
}